*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    height: 40rem;
    width: 40rem;
    border: 2px solid;
    display: flex;
    gap: 2px;
}
.flex-child1{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    flex:4 2 100px;
}
.flex-child2{
    height: 50px;
    width: 50px;
    background-color:royalblue;
    flex:3 4 200px;
}
.flex-child3{
    height: 50px;
    width: 50px;
    background-color: orchid;
    flex:5 6 150px;
}